{% load static %}

<!-- Sidebar  -->
<div class="iq-sidebar">
        <div class="iq-sidebar-logo d-flex justify-content-between">
            <a href="{% url 'bookshelf:home' %}" class="header-logo">
                <img src="{% static 'images/logo.png' %}" class="img-fluid rounded-normal" alt="">
                <div class="logo-title">
                    <span class="text-primary text-uppercase">وب اوپس</span>
                </div>
            </a>
            <div class="iq-menu-bt-sidebar">
                <div class="iq-menu-bt align-self-center">
                    <div class="wrapper-menu">
                        <div class="main-circle"><i class="las la-bars"></i></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="sidebar-scrollbar">
            <nav class="iq-sidebar-menu">
                <ul id="iq-sidebar-toggle" class="iq-menu">
                    <li class="active active-menu">
                        <a href="#dashboard" class="iq-waves-effect" data-toggle="collapse" aria-expanded="true"><span
                                class="ripple rippleEffect"></span><i
                                class="las la-home iq-arrow-left"></i><span>کتابخانه</span><i
                                class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                        <ul id="dashboard" class="iq-submenu collapse show" data-parent="#iq-sidebar-toggle">
                            <li class="active"><a href="{% url 'bookshelf:home' %}"><i class="las la-house-damage"></i>صفحه اصلی</a>
                            </li>
                            <li><a href="{% url 'bookshelf:categories' %}"><i class="ri-function-line"></i>دسته ها</a></li>
{#                            <li><a href="#"><i class="ri-heart-line"></i>علاقه مندی ها</a></li>#}
                        </ul>
                    </li>
                    {% if request.user.is_authenticated and request.user.is_staff %}
                        <li>
                            <a href="#admin" class="iq-waves-effect" data-toggle="collapse" aria-expanded="false"><span
                                    class="ripple rippleEffect"></span><i class="ri-admin-line"></i><span>پنل ادمین</span><i
                                    class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                            <ul id="admin" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                                <li><a href="{% url 'bookshelf:home' %}admin"><i class="ri-dashboard-line"></i>داشبورد</a></li>
                            </ul>
                        </li>
                    {% elif request.user.is_authenticated %}
{#                    <li>#}
{#                        <a href="#userinfo" class="iq-waves-effect" data-toggle="collapse" aria-expanded="false"><span#}
{#                                class="ripple rippleEffect"></span><i class="las la-user-tie iq-arrow-left"></i><span>User</span><i#}
{#                                class="ri-arrow-right-s-line iq-arrow-right"></i></a>#}
{#                        <ul id="userinfo" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle" style="">#}
{#                            <li><a href="profile.html"><i class="las la-id-card-alt"></i>User Profile</a></li>#}
{#                            <li><a href="profile-edit.html"><i class="las la-edit"></i>User Edit</a></li>#}
{#                            <li><a href="add-user.html"><i class="las la-plus-circle"></i>User Add</a></li>#}
{#                            <li><a href="user-list.html"><i class="las la-th-list"></i>User List</a></li>#}
{#                        </ul>#}
{#                    </li>#}
                    {% endif %}

                </ul>
            </nav>
            <div id="sidebar-bottom" class="p-3 position-relative">
                <div class="iq-card">
                    <div class="iq-card-body">
                        <div class="sidebarbottom-content">
                            <div class="image"><img src="{% static 'images/page-img/side-bkg.png' %}" alt=""></div>
                            {% if not request.user.is_authenticated %}
                                <button type="submit" class="btn w-100 btn-primary mt-4 view-more">عضویت در کتابخانه</button>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>