{% extends 'accounts/base.html' %}
{% load static %}

{% block content %}
<section class="sign-in-page">
    <div class="container p-0">
        <div class="row no-gutters height-self-center">
            <div class="col-sm-12 align-self-center page-content rounded">
                <div class="row m-0">
                    <div class="col-sm-12 sign-in-page-data">
                        <div class="sign-in-from bg-primary rounded">
                            <h3 class="mb-0 text-center text-white">ورود به حساب کاربری</h3>
                            <p class="text-center text-white">جهت دسترسی به پنل ایمیل و پسوورد خود را وارد نمایید</p>
                            <form class="mt-4 form-text" action="{% url 'accounts:login' %}" method="post">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="exampleInputEmail1">یوزرنیم یا ایمیل</label>
                                    <input type="text" class="form-control mb-0" name="username"
                                           placeholder="یوزرنیم یا ایمیل">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">کلمه عبور</label>
                                    <input type="password" class="form-control mb-0" name="password"
                                           placeholder="کلمه عبور">
                                </div>
                                {% if err %}
                                <div class="form-group text-center text-danger">
                                    <strong>{{ err }}</strong>
                                </div>
                                {% endif %}
                                <div class="sign-info text-center">
                                    <button type="submit" class="btn btn-white d-block w-100 mb-2">ورود</button>
                                    <span class="text-dark dark-color d-inline-block line-height-2">آیا حساب کاربری ندارید؟ <a
                                            href="{% url 'accounts:signup' %}" class="text-white">ساخت حساب کاربری</a></span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}