{% load static %}
<!doctype html>
<html lang="en" dir="rtl">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title> کتاب {{ book.title }}</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- Typography CSS -->
    <link rel="stylesheet" href="{% static 'css/typography.css' %}">
    <!-- Style CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
</head>

<body>
<!-- loader Start -->
<div id="loading">
    <div id="loading-center">
    </div>
</div>
<!-- loader END -->
<!-- Wrapper Start -->
<div class="wrapper">
    {% include 'appendant/sidebar.html' %}
    {% include 'appendant/top-nav-bar.html' %}
    <!-- Page Content  -->
    <div id="content-page" class="content-page">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="iq-card book-detail">
                        <div id="iframe-content" class="iq-card-body p-0">
                            <iframe onscroll="logger()" id="x1" src="{{ book.pdf_source.url }}" style="width: 100%; height: 90vh;">
                            </iframe>
{#                            {% if type == 'demo' %}#}
{#                            <iframe src="{% static 'images/book/book.pdf' %}"></iframe>#}
{#                            {% elif type == 'src' %}#}
{#                            <iframe src="{{ book.pdf_source.url }}"></iframe>#}
{#                            {% endif %}#}

{#                            <script>#}
{#                                var iframe = document.getElementById("x1");#}
{##}
{#                                if (iframe.attachEvent){#}
{#                                    iframe.attachEvent("onload", function(){#}
{#                                        console.log("Local iframe is loading");#}
{#                                    });#}
{#                                } else {#}
{#                                    iframe.onload = function(){#}
{#                                        console.log("Local iframe is now loaded.");#}
{#                                        const iframeDocument = document.getElementById('x1').contentWindow#}
{#                                        console.log(iframeDocument);#}
{#                                        iframeDocument.addEventListener('scroll', function() {#}
{#                                           var hiddenId =  $("#viewBookmark").attr('href');#}
{#                                            console.log(hiddenId);#}
{#                                        })#}
{#                                    };#}
{#                                }#}
{#                            </script>#}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Wrapper END -->
{% include 'appendant/footer.html' %}
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->

<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- Appear JavaScript -->
<script src="{% static 'js/jquery.appear.js' %}"></script>
<!-- Countdown JavaScript -->
<script src="{% static 'js/countdown.min.js' %}"></script>
<!-- Counterup JavaScript -->
<script src="{% static 'js/waypoints.min.js' %}"></script>
<script src="{% static 'js/jquery.counterup.min.js' %}"></script>
<!-- Wow JavaScript -->
<script src="{% static 'js/wow.min.js' %}"></script>
<!-- Apexcharts JavaScript -->
<script src="{% static 'js/apexcharts.js' %}"></script>
<!-- Slick JavaScript -->
<script src="{% static 'js/slick.min.js' %}"></script>
<!-- Select2 JavaScript -->
<script src="{% static 'js/select2.min.js' %}"></script>
<!-- Owl Carousel JavaScript -->
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<!-- Magnific Popup JavaScript -->
<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
<!-- Smooth Scrollbar JavaScript -->
<script src="{% static 'js/smooth-scrollbar.js' %}"></script>
<!-- lottie JavaScript -->
<script src="{% static 'js/lottie.js' %}"></script>
<script src="https://cdn.amcharts.com/lib/4/core.js"></script>
<script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
<!-- am animated JavaScript -->
<script src="{% static 'js/animated.js' %}"></script>
<!-- am kelly JavaScript -->
<script src="{% static 'js/kelly.js' %}"></script>
<!-- am maps JavaScript -->
<script src="{% static 'js/maps.js' %}"></script>
<!-- am worldLow JavaScript -->
<script src="{% static 'js/worldLow.js' %}"></script>
<!-- Raphael-min JavaScript -->
<script src="{% static 'js/raphael-min.js' %}"></script>
<!-- Morris JavaScript -->
<script src="{% static 'js/morris.js' %}"></script>
<!-- Morris min JavaScript -->
<script src="{% static 'js/morris.min.js' %}"></script>
<!-- Flatpicker Js -->
<script src="{% static 'js/flatpickr.js' %}"></script>
<!-- Style Customizer -->
<script src="{% static 'js/style-customizer.js' %}"></script>
<!-- Chart Custom JavaScript -->
<script src="{% static 'js/chart-custom.js' %}"></script>
<!-- Custom JavaScript -->
<script src="{% static 'js/custom.js' %}"></script>

<script>
    var iframe = document.getElementById('x1');
    console.log(iframe)
    {#var embed = document.getElementById('x1');#}
    {#// Wait for document to load inside embed element#}
    {#embed.onload = function() {#}
    {#    const xxx = embed.innerHTML;#}
    {#    console.log(xxx)#}
</script>
</body>
</html>