{% load static %}
<!doctype html>
<html lang="en" dir="rtl">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>نسخه صوتی کتاب {{ book.title }}</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- Typography CSS -->
    <link rel="stylesheet" href="{% static 'css/typography.css' %}">
    <!-- Style CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
</head>
<body class="sidebar-main-active right-column-fixed">
<!-- loader Start -->
<div id="loading">
    <div id="loading-center">
    </div>
</div>
<!-- loader END -->
<!-- Wrapper Start -->
<div class="wrapper">
    {% include 'appendant/sidebar.html' %}
    {% include 'appendant/top-nav-bar.html' %}
    <!-- Page Content  -->
    <div id="content-page" class="content-page">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="iq-card">
                        <div class="iq-card-header d-flex justify-content-between">
                            <div class="iq-header-title">
                                <h4 class="card-title"><span>کتاب صوتی: </span><b style="color: #006b1b;">{{ book.title }}</b></h4>
                                <br>
                                <h4 class="card-title"><span>گوینده: </span><b style="color: #006b1b;">{{ book.audio_speaker.person_name }}</b></h4>
                            </div>
                        </div>
                        <div class="iq-card-body">
                            <div id="table" class="table-editable">
                              <span class="table-add float-right mb-3 mr-2">
{#                              <button class="btn btn-sm iq-bg-success"><i#}
{#                                      class="ri-add-fill"><span class="pl-1">Add New</span></i>#}
{#                              </button>#}
                              </span>
                                <table class="table table-bordered table-responsive-md table-striped text-center">
                                    <thead>
                                    <tr>
                                        <th style="width:5%">ردیف</th>
                                        <th style="width:20%">نام</th>
                                        <th style="width:70%">فایل صوتی</th>
                                        <th style="width:5%">دقیقه</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>{{ book.audio_demo.audio_name}}</td>
                                        <td>
                                             <audio controls autoplay>
                                                <source src="{{ book.audio_demo.audio_file.url }}">
                                             </audio>
                                        </td>
                                        <td>{{ book.audio_demo.audio_length }}</td>
                                    </tr>
                                    {% for audio in book.audio_source.all %}
                                    <tr>
                                        <td>{{ forloop.counter|add:"1" }}</td>
                                        <td>{{ audio.audio_name }}</td>
                                        <td>
                                             <audio controls autoplay>
                                                <source src="{{ audio.audio_file.url }}">
                                             </audio>
                                        </td>
                                        <td>{{ audio.audio_length }}</td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Wrapper END -->
<!-- Footer -->
{% include 'appendant/footer.html' %}
<!-- Footer END -->
<!-- Optional JavaScript -->
<script>
    function remove_button(request_id, user_id) {
        $.ajaxSetup({
          data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
        });
        $.ajax({
            method: 'post',
            url: "{% url 'bookshelf:remove_request' %}",
            data: {
                request_id: request_id,
                user_id: user_id,
            },
            error: function () {
                console.log("error")
                window.alert('ناموفق');
            },
            success: function (data) {
                console.log("success")
            },
        })
    }
</script>
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- Appear JavaScript -->
<script src="{% static 'js/jquery.appear.js' %}"></script>
<!-- Countdown JavaScript -->
<script src="{% static 'js/countdown.min.js' %}"></script>
<!-- Counterup JavaScript -->
<script src="{% static 'js/waypoints.min.js' %}"></script>
<script src="{% static 'js/jquery.counterup.min.js' %}"></script>
<!-- Wow JavaScript -->
<script src="{% static 'js/wow.min.js' %}"></script>
<!-- Apexcharts JavaScript -->
<script src="{% static 'js/apexcharts.js' %}"></script>
<!-- Slick JavaScript -->
<script src="{% static 'js/slick.min.js' %}"></script>
<!-- Select2 JavaScript -->
<script src="{% static 'js/select2.min.js' %}"></script>
<!-- Owl Carousel JavaScript -->
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<!-- Magnific Popup JavaScript -->
<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
<!-- Smooth Scrollbar JavaScript -->
<script src="{% static 'js/smooth-scrollbar.js' %}"></script>
<!-- lottie JavaScript -->
<script src="{% static 'js/lottie.js' %}"></script>
<script src="https://cdn.amcharts.com/lib/4/core.js"></script>
<script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
<!-- am animated JavaScript -->
<script src="{% static 'js/animated.js' %}"></script>
<!-- am kelly JavaScript -->
<script src="{% static 'js/kelly.js' %}"></script>
<!-- am maps JavaScript -->
<script src="{% static 'js/maps.js' %}"></script>
<!-- am worldLow JavaScript -->
<script src="{% static 'js/worldLow.js' %}"></script>
<!-- Raphael-min JavaScript -->
<script src="{% static 'js/raphael-min.js' %}"></script>
<!-- Morris JavaScript -->
<script src="{% static 'js/morris.js' %}"></script>
<!-- Morris min JavaScript -->
<script src="{% static 'js/morris.min.js' %}"></script>
<!-- Flatpicker Js -->
<script src="{% static 'js/flatpickr.js' %}"></script>
<!-- Style Customizer -->
<script src="{% static 'js/style-customizer.js' %}"></script>
<!-- Chart Custom JavaScript -->
<script src="{% static 'js/chart-custom.js' %}"></script>
<!-- Custom JavaScript -->
<script src="{% static 'js/custom.js' %}"></script>
</body>
</html>