{% load static %}
<!doctype html>
<html lang="en" dir="rtl">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>وب اوپس کتابخانه شما</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- Typography CSS -->
    <link rel="stylesheet" href="{% static 'css/typography.css' %}">
    <!-- Style CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
</head>
<body>
<!-- loader Start -->
<div id="loading">
    <div id="loading-center">
    </div>
</div>
<!-- loader END -->
<!-- Wrapper Start -->
<div class="wrapper">
    {% include 'appendant/sidebar.html' %}
    {% include 'appendant/top-nav-bar.html' %}
    <!-- Page Content  -->
    <div id="content-page" class="content-page">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="iq-card-transparent mb-0">
                        <div class="d-block text-center">
                            <form action="{% url 'bookshelf:categories' %}" method="post">
                                {% csrf_token %}
                                <h2 class="mb-3">جستجو کنید(عنوان، نویسنده، مترجم)</h2>
                                <div class="w-100 iq-search-filter">
                                    <ul class="list-inline p-0 m-0 row justify-content-center search-menu-options">
{#                                        <li class="search-menu-opt">#}
{#                                            <div class="iq-dropdown">#}
{#                                                <div class="form-group mb-0">#}
{#                                                    <select class="form-control form-search-control bg-white border-0"#}
{#                                                            id="publisher" name="publisher">#}
{#                                                        <option selected="">انتشارات</option>#}
{#                                                        <option>A Books</option>#}
{#                                                    </select>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                        </li>#}
                                        <li class="search-menu-opt">
                                            <div class="iq-dropdown">
                                                <div class="form-group mb-0">
                                                    <select style="font-family: Tahoma" class="form-control form-search-control bg-white border-0"
                                                            id="mark" name="mark">
                                                        <option selected="">بر اساس</option>
                                                        <option>دفعات مشاهده</option>
                                                        <option>امتیاز منتقدان</option>
                                                        <option>امتیاز کاربران سایت</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="search-menu-opt">
                                            <div class="iq-dropdown">
                                                <div class="form-group mb-0">
                                                    <select style="font-family: Tahoma" class="form-control form-search-control bg-white border-0"
                                                            id="category" name="category">
                                                        <option selected="">دسته</option>
                                                        {% for cat in all_categories %}
                                                        <option>{{ cat.category_name }}</option>
                                                        {% empty %}
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                        </li>
{#                                        <li class="search-menu-opt">#}
{#                                            <div class="iq-dropdown">#}
{#                                                <div class="form-group mb-0">#}
{#                                                    <select class="form-control form-search-control bg-white border-0"#}
{#                                                            id="keyword" name="keyword">#}
{#                                                        <option selected="">کلید واژه</option>#}
{#                                                        <option>2015</option>#}
{#                                                    </select>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                        </li>#}
{#                                        <li class="search-menu-opt">#}
{#                                            <div class="iq-dropdown">#}
{#                                                <div class="form-group mb-0">#}
{#                                                    <select class="form-control form-search-control bg-white border-0"#}
{#                                                            id="year_of_publish" name="year_of_publish">#}
{#                                                        <option selected="">سال انتشار</option>#}
{#                                                        <option>1370</option>#}
{#                                                    </select>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                        </li>#}
                                        <li class="search-menu-opt">
                                            <div class="iq-search-bar search-book d-flex align-items-center">
                                                <input type="text" id="search_text" name="search_text" class="text search-input" placeholder="جستجو کنید...">
                                                <a class="search-link" href="#"><i class="ri-search-line"></i></a>
                                                <button type="submit" class="btn btn-primary search-data ml-2">جستجو
                                                </button>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </form>
                        </div>
                    </div>
                    {% if unusual == false %}
                    <div class="iq-card">
                        <div class="iq-card-body">
                            <div class="row">
                                {% for book in books %}
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                        <div class="iq-card iq-card-block iq-card-stretch iq-card-height search-bookcontent">
                                            <div class="iq-card-body p-0">
                                                <div class="d-flex align-items-center">
                                                    <div class="col-6 p-0 position-relative image-overlap-shadow">
                                                        <a href="javascript:void(none);"><img
                                                                class="img-fluid rounded w-100"
                                                                src="{{ book.on_paper_image.image_src.url }}" alt=""></a>
                                                        <div class="view-book">
                                                            <a href="{% url 'bookshelf:book_details' book_id=book.id book_name=book.title %}"
                                                               class="btn btn-sm btn-white">نمایش کتاب</a>
                                                        </div>
                                                    </div>
                                                    <div class="col-6">
                                                        <div class="mb-2">
                                                            <h6 class="mb-1">{{ book.title }}</h6>
                                                            {% for author in book.authors.all %}
                                                                <p class="font-size-13 line-height mb-1">
                                                                    <span>نویسنده: </span>{{ author.person.person_name }}
                                                                </p>
                                                            {% endfor %}
                                                            {% for interpreter in book.interpreters.all %}
                                                                <p class="font-size-13 line-height mb-1">
                                                                    <span>مترجم: </span>{{ interpreter.person.person_name }}
                                                                </p>
                                                            {% endfor %}
                                                            <div class="d-block">
{#                                                   <span class="font-size-13 text-warning">#}
{#                                                      <i class="fa fa-star"></i>#}
{#                                                      <i class="fa fa-star"></i>#}
{#                                                      <i class="fa fa-star"></i>#}
{#                                                      <i class="fa fa-star"></i>#}
{#                                                      <i class="fa fa-star"></i>#}
{#                                                   </span>#}
                                                            </div>
                                                        </div>
                                                        <div class="iq-product-action">
{#                                                            <a href="javascript:void(none);" class="ml-2"><i#}
{#                                                                    class="ri-heart-fill text-danger"></i></a>#}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% empty %}
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                        <div class="iq-card iq-card-block iq-card-stretch iq-card-height search-bookcontent">
                                            <div class="iq-card-body p-0">
                                                <div class="d-flex align-items-center">
                                                    <b>خالی</b>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            {% if books.has_other_pages %}
                              <ul class="pagination justify-content-center">
                                {% if books.has_previous %}
                                  <li class="page-item"><a class="page-link" href="?page={{ books.previous_page_number }}">&laquo;</a></li>
                                {% else %}
                                  <li class="page-item disabled"><span></span></li>
                                {% endif %}
                                {% for i in books.paginator.page_range %}
                                  {% if books.number == i %}
                                    <li class="page-item active" aria-current="page">
                                        <a class="page-link" href="#">{{ i }}<span class="sr-only">(current)</span></a>
                                    </li>
                                  {% else %}
                                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                  {% endif %}
                                {% endfor %}
                                {% if books.has_next %}
                                  <li class="page-item"><a class="page-link" href="?page={{ books.next_page_number }}">&raquo;</a></li>
                                {% else %}
                                  <li class="page-item disabled"><span></span></li>
                                {% endif %}
                              </ul>
                            {% endif %}
                        </div>
                    </div>
                    {% else %}
                    <div class="iq-card">
                        <div class="iq-card-body">
                            <div class="row">
                                {% for book in books %}
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                        <div class="iq-card iq-card-block iq-card-stretch iq-card-height search-bookcontent">
                                            <div class="iq-card-body p-0">
                                                <div class="d-flex align-items-center">
                                                    <div class="col-6 p-0 position-relative image-overlap-shadow">
                                                        <a href="javascript:void(none);"><img
                                                                class="img-fluid rounded w-100"
                                                                src="{{ book.book.on_paper_image.image_src.url }}" alt=""></a>
                                                        <div class="view-book">
                                                            <a href="{% url 'bookshelf:book_details' book_id=book.book.id book_name=book.book.title %}"
                                                               class="btn btn-sm btn-white">نمایش کتاب</a>
                                                        </div>
                                                    </div>
                                                    <div class="col-6">
                                                        <div class="mb-2">
                                                            <h6 class="mb-1">{{ book.book.title }}</h6>
                                                            {% for author in book.book.authors.all %}
                                                                <p class="font-size-13 line-height mb-1">
                                                                    <span>نویسنده: </span>{{ author.person.person_name }}
                                                                </p>
                                                            {% endfor %}
                                                            {% for interpreter in book.book.interpreters.all %}
                                                                <p class="font-size-13 line-height mb-1">
                                                                    <span>مترجم: </span>{{ interpreter.person.person_name }}
                                                                </p>
                                                            {% endfor %}
                                                            <div class="d-block">
{#                                                   <span class="font-size-13 text-warning">#}
{#                                                      <i class="fa fa-star"></i>#}
{#                                                      <i class="fa fa-star"></i>#}
{#                                                      <i class="fa fa-star"></i>#}
{#                                                      <i class="fa fa-star"></i>#}
{#                                                      <i class="fa fa-star"></i>#}
{#                                                   </span>#}
                                                            </div>
                                                        </div>
                                                        <div class="iq-product-action">
{#                                                            <a href="javascript:void(none);" class="ml-2"><i#}
{#                                                                    class="ri-heart-fill text-danger"></i></a>#}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% empty %}
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                        <div class="iq-card iq-card-block iq-card-stretch iq-card-height search-bookcontent">
                                            <div class="iq-card-body p-0">
                                                <div class="d-flex align-items-center">
                                                    <b>خالی</b>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            {% if books.has_other_pages %}
                              <ul class="pagination justify-content-center">
                                {% if books.has_previous %}
                                  <li class="page-item"><a class="page-link" href="?page={{ books.previous_page_number }}">&laquo;</a></li>
                                {% else %}
                                  <li class="page-item disabled"><span></span></li>
                                {% endif %}
                                {% for i in books.paginator.page_range %}
                                  {% if books.number == i %}
                                    <li class="page-item active" aria-current="page">
                                        <a class="page-link" href="#">{{ i }}<span class="sr-only">(current)</span></a>
                                    </li>
                                  {% else %}
                                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                  {% endif %}
                                {% endfor %}
                                {% if books.has_next %}
                                  <li class="page-item"><a class="page-link" href="?page={{ books.next_page_number }}">&raquo;</a></li>
                                {% else %}
                                  <li class="page-item disabled"><span></span></li>
                                {% endif %}
                              </ul>
                            {% endif %}
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Wrapper END -->
{% include 'appendant/footer.html' %}


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- Appear JavaScript -->
<script src="{% static 'js/jquery.appear.js' %}"></script>
<!-- Countdown JavaScript -->
<script src="{% static 'js/countdown.min.js' %}"></script>
<!-- Counterup JavaScript -->
<script src="{% static 'js/waypoints.min.js' %}"></script>
<script src="{% static 'js/jquery.counterup.min.js' %}"></script>
<!-- Wow JavaScript -->
<script src="{% static 'js/wow.min.js' %}"></script>
<!-- Apexcharts JavaScript -->
<script src="{% static 'js/apexcharts.js' %}"></script>
<!-- Slick JavaScript -->
<script src="{% static 'js/slick.min.js' %}"></script>
<!-- Select2 JavaScript -->
<script src="{% static 'js/select2.min.js' %}"></script>
<!-- Owl Carousel JavaScript -->
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<!-- Magnific Popup JavaScript -->
<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
<!-- Smooth Scrollbar JavaScript -->
<script src="{% static 'js/smooth-scrollbar.js' %}"></script>
<!-- lottie JavaScript -->
<script src="{% static 'js/lottie.js' %}"></script>
<script src="https://cdn.amcharts.com/lib/4/core.js"></script>
<script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
<!-- am animated JavaScript -->
<script src="{% static 'js/animated.js' %}"></script>
<!-- am kelly JavaScript -->
<script src="{% static 'js/kelly.js' %}"></script>
<!-- am maps JavaScript -->
<script src="{% static 'js/maps.js' %}"></script>
<!-- am worldLow JavaScript -->
<script src="{% static 'js/worldLow.js' %}"></script>
<!-- Raphael-min JavaScript -->
<script src="{% static 'js/raphael-min.js' %}"></script>
<!-- Morris JavaScript -->
<script src="{% static 'js/morris.js' %}"></script>
<!-- Morris min JavaScript -->
<script src="{% static 'js/morris.min.js' %}"></script>
<!-- Flatpicker Js -->
<script src="{% static 'js/flatpickr.js' %}"></script>
<!-- Style Customizer -->
<script src="{% static 'js/style-customizer.js' %}"></script>
<!-- Chart Custom JavaScript -->
<script src="{% static 'js/chart-custom.js' %}"></script>
<!-- Custom JavaScript -->
<script src="{% static 'js/custom.js' %}"></script>
</body>
</html>