{% extends 'base.html' %}
{% load static %}

{% block content %}
<div id="content-page" class="content-page">
    <div class="container-fluid checkout-content">
        <div class="row">
            <div class="col-sm-12">
                <div class="iq-card">
                    <div class="iq-card-header d-flex justify-content-between iq-border-bottom mb-0">
                        <div class="iq-header-title">
                            <h4 class="card-title">درحال مطالعه</h4>
                        </div>
                    </div>
                    {% for reading_book in reading_books %}
                    <div class="iq-card-body">
                        <ul class="list-inline p-0 m-0">
                            <li class="checkout-product">
                                <div class="row align-items-center">
                                    <div class="col-sm-3 col-lg-2">
                                        <div class="row align-items-center">
                                            <div class="col-sm-3">
                                                <a id="delete-btn" href="javascript:void();" onclick="ajax_remove_book_from_reading_state({{ reading_book.book.id }})" class="badge badge-danger"><i
                                                        class="fa-solid fa-trash mt-1"></i></a>
                                            </div>
                                            <div class="col-sm-9">
                                         <span class="checkout-product-img">
                                         <a href="{% url 'bookshelf:book_details' book_id=reading_book.book.id book_name=reading_book.book.title %}" ><img class="img-fluid rounded"
                                                                               src="{{ reading_book.book.on_paper_image.file_src.url }}"
                                                                               alt="{{ reading_book.book.on_paper_image.file_alt }}"></a>
                                         </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-lg-4">
                                        <div class="checkout-product-details">
                                            <h5>{{ reading_book.book.title }}</h5>
                                            <p style="color: grey"><span>سرشناسه: </span>
                                                {% for author in reading_book.book.authors.all %}
                                                <span>{{ author.full_name }}</span>
                                                {% endfor %}
                                            </p>
                                            <p style="color: grey"><span>پدید آورنده: </span>
                                                {% for interpreter in reading_book.book.interpreters.all %}
                                                <span>{{ interpreter.full_name }}</span>
                                                {% endfor %}
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-lg-6">
                                        <div class="row">
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    {% empty %}
                    <div class="iq-card-body">
                        <ul class="list-inline p-0 m-0">
                            <li class="checkout-product">
                                <div class="row align-items-center">
                                    <div class="col-sm-3 col-lg-4">
                                        <b>کتابی برای نمایش وجود ندارد</b>
                                    </div>
                                    <div class="col-sm-6 col-lg-6">
                                        <div class="row">
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="iq-card">
                    <div class="iq-card-header d-flex justify-content-between iq-border-bottom mb-0">
                        <div class="iq-header-title">
                            <h4 class="card-title">خاص شما</h4>
                        </div>
                    </div>
                    {% for reading_book in request.user.userprofile.specific_book_only_for_this_user.all %}
                    <div class="iq-card-body">
                        <ul class="list-inline p-0 m-0">
                            <li class="checkout-product">
                                <div class="row align-items-center">
                                    <div class="col-sm-3 col-lg-2">
                                        <div class="row align-items-center">
                                            <div class="col-sm-9">
                                         <span class="checkout-product-img">
                                         <a href="{% url 'bookshelf:book_details' book_id=reading_book.book.id book_name=reading_book.book.title %}" ><img class="img-fluid rounded"
                                                                               src="{{ reading_book.book.on_paper_image.file_src.url }}"
                                                                               alt="{{ reading_book.book.on_paper_image.file_alt }}"></a>
                                         </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-lg-4">
                                        <div class="checkout-product-details">
                                            <h5>{{ reading_book.book.title }}</h5>
                                            <p style="color: grey"><span>سرشناسه: </span>
                                                {% for author in reading_book.book.authors.all %}
                                                <span>{{ author.full_name }}</span>
                                                {% endfor %}
                                            </p>
                                            <p style="color: grey"><span>پدید آورنده: </span>
                                                {% for interpreter in reading_book.book.interpreters.all %}
                                                <span>{{ interpreter.full_name }}</span>
                                                {% endfor %}
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-lg-6">
                                        <div class="row">
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    {% empty %}
                    <div class="iq-card-body">
                        <ul class="list-inline p-0 m-0">
                            <li class="checkout-product">
                                <div class="row align-items-center">
                                    <div class="col-sm-3 col-lg-4">
                                        <b>کتابی برای نمایش وجود ندارد</b>
                                    </div>
                                    <div class="col-sm-6 col-lg-6">
                                        <div class="row">
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<script>
function ajax_remove_book_from_reading_state(book_id) {
    $.ajax({
        method: 'post',
        url: "{% url 'accounts:ajax-remove-book-from-reading-state' %}",
        data: {
            book_id: book_id,
            csrfmiddlewaretoken: '{{ csrf_token }}',
        },
        beforeSend: function () {
            document.getElementById('delete-btn').innerHTML=`<span"><img src="{% static 'custom/loader.gif' %}" style="max-height: 60px; max-width: 60px" }}"></span>`
        },
        error: function (err) {
            document.getElementById('delete-btn').innerHTML=`
            <a id="delete-btn" href="javascript:void();" onclick="ajax_remove_book_from_reading_state(` + book_id + `)" class="badge badge-danger"><i
                                                        class="fa-solid fa-trash"></i></a>
                                                        `
        },
        success: function (data) {
            location.reload()
        },
    })
    return false;
}
</script>
{% endblock %}