{% extends 'base.html' %}
{% load static %}

{% block content %}
<div id="content-page" class="content-page">
    <div class="container-fluid checkout-content">
        <div class="row">
            <div class="col-sm-12">
                <div class="iq-card">
                    <div class="iq-card-header d-flex justify-content-between iq-border-bottom mb-0">
                        <div class="iq-header-title">
                            <h4 class="card-title">درحال مطالعه</h4>
                        </div>
                    </div>
                    {% for reading_book in user_profile.reading_book.all %}
                    <div class="iq-card-body">
                        <ul class="list-inline p-0 m-0">
                            <li class="checkout-product">
                                <div class="row align-items-center">
                                    <div class="col-sm-3 col-lg-2">
                                        <div class="row align-items-center">
                                            <div class="col-sm-3">
                                                <a href="javascript:void();" onclick="remove_book_from_profile({{ reading_book.book.id }})" class="badge badge-danger"><i
                                                        class="ri-close-fill"></i></a>
                                            </div>
                                            <div class="col-sm-9">
                                         <span class="checkout-product-img">
                                         <a href="{% url 'bookshelf:book_details' book_id=reading_book.book.id book_name=reading_book.book.title %}" ><img class="img-fluid rounded"
                                                                               src="{{ reading_book.book.on_paper_image.image_src.url }}"
                                                                               alt="{{ reading_book.book.on_paper_image.image_alt }}"></a>
                                         </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-lg-4">
                                        <div class="checkout-product-details">
                                            <h5>{{ reading_book.book.title }}</h5>
                                            <p style="color: grey"><span>نویسنده: </span>
                                                {% for author in reading_book.book.authors.all %}
                                                <span>{{ author.person.person_name }}</span>
                                                {% endfor %}
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-lg-6">
                                        <div class="row">
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    {% empty %}
                    <div class="iq-card-body">
                        <ul class="list-inline p-0 m-0">
                            <li class="checkout-product">
                                <div class="row align-items-center">
                                    <div class="col-sm-3 col-lg-4">
                                        <b>خالی</b>
                                    </div>
                                    <div class="col-sm-6 col-lg-6">
                                        <div class="row">
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-sm-12">
                <div class="iq-card">
                    <div class="iq-card-header d-flex justify-content-between iq-border-bottom mb-0">
                        <div class="iq-header-title">
                            <h4 class="card-title">خاص شما</h4>
                        </div>
                    </div>
                    {% for special_book in user_profile.specific_book_only_for_this_user.all %}
                    <div class="iq-card-body">
                        <ul class="list-inline p-0 m-0">
                            <li class="checkout-product">
                                <div class="row align-items-center">
                                    <div class="col-sm-3 col-lg-2">
                                        <div class="row align-items-center">
                                            <div class="col-sm-3">
                                            </div>
                                            <div class="col-sm-9">
                                         <span class="checkout-product-img">
                                         <a href="{% url 'bookshelf:book_details' book_id=special_book.id book_name=special_book.title %}" ><img class="img-fluid rounded"
                                                                               src="{{ special_book.on_paper_image.image_src.url }}"
                                                                               alt="{{ special_book.on_paper_image.image_alt }}"></a>
                                         </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-lg-4">
                                        <div class="checkout-product-details">
                                            <h5>{{ reading_book.book.title }}</h5>
                                            <p style="color: grey"><span>نویسنده: </span>
                                                {% for author in special_book.authors.all %}
                                                <span>{{ author.person.person_name }}</span>
                                                {% endfor %}
                                            </p>
                                            <p style="color: grey"><span>مترجم: </span>
                                                {% for interpreter in special_book.interpreters.all %}
                                                <span>{{ interpreter.person.person_name }}</span>
                                                {% endfor %}
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-lg-6">
                                        <div class="row">
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    {% empty %}
                    <div class="iq-card-body">
                        <ul class="list-inline p-0 m-0">
                            <li class="checkout-product">
                                <div class="row align-items-center">
                                    <div class="col-sm-3 col-lg-4">
                                        <b>خالی</b>
                                    </div>
                                    <div class="col-sm-6 col-lg-6">
                                        <div class="row">
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}